<h1>Estructuras de datos en python</h1>

<h2>1.-Listas</h2><br>Las listas de Python son contenedores que tienen una cantidad de otros objetos en un orden dado. Para crear una lista, simplemente colocas diferentes valores separados por comas entre corchetes:

2:13

In [2]:
lista_1 = ['cadena de texto', 15,2.8, 'otro dato', 25]
lista_1

['cadena de texto', 15, 2.8, 'otro dato', 25]

In [3]:
len(lista_1)

5

In [4]:
print(lista_1[1:4])
print(lista_1[3:])
print(lista_1[:2])
print(lista_1[:])
print(lista_1)

[15, 2.8, 'otro dato']
['otro dato', 25]
['cadena de texto', 15]
['cadena de texto', 15, 2.8, 'otro dato', 25]
['cadena de texto', 15, 2.8, 'otro dato', 25]

Las listas tambien se pueden crear usando el constructor de la clase, list(iterable). En este caso, el constructor crea una lista cuyos elementos son los mismos y estan en el mismo orden que los items de iterable.

Por ejemplo, el tipo str tambien es un tipo secuencia. Si pasamos un string al constructor list() creara una lista cuyos
elementos son cada uno de los caracteres de la cadena:

In [5]:
letras = list('Medicina')
letras

['M', 'e', 'd', 'i', 'c', 'i', 'n', 'a']

Las listas son mutables.

In [6]:
lista_1

['cadena de texto', 15, 2.8, 'otro dato', 25]

In [7]:
lista_1[2]=4.5 #El tercer elemento ahora es 4.5
print(lista_1)

['cadena de texto', 15, 4.5, 'otro dato', 25]

In [8]:
lista_1.append('Nuevo Dato')

Se pueden agregar nuevos valores al final con append

In [9]:
lista_1

['cadena de texto', 15, 4.5, 'otro dato', 25, 'Nuevo Dato']

<b>pop()</b> permite extraer y eliminar el último elemento de una lista de manera permanente. Este elemento se puede almacenar en una variable. Se puede escoger otro elemento de la lista con el indice usando <b>pop(i)</b>

In [10]:
a=lista_1.pop()

In [11]:
lista_1

['cadena de texto', 15, 4.5, 'otro dato', 25]

In [12]:
a=lista_1.pop()
print(a)
print(type(a))
print(lista_1)

25
<class 'int'>
['cadena de texto', 15, 4.5, 'otro dato']

Otro ejemplo:

In [13]:
list1 = ['student','teacher',1997,2000]
print (list1)
list2 = [1,2,3,4,5]
print (list2)
list3 = ["a","b","c","d"]
print (list3)

['student', 'teacher', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

Para revisar el valor de un elemento de la lista, indique entre corchetes el índice(o indices) para obtener el valor(o valores) en esa posición (posiciones).
Ejecuta el fragmento de código a continuacion e intente adivinar cual sera el resultado de cada comando:<br>
<b>Nota:</b>¡La idexacion de Python comienza con 0 y el ultimo valor en un rango no se usa!

In [14]:
len(list3)

4

In [19]:
print(list1[0])
print(list2[2:4])
print(list3[len(list3)-1]) # negative indices must be avoiced, just be aware that Python may not

student
[3, 4]
d

Se puede acceder a los elementos de estos tipos usando indices compuestos o anidados:

In [20]:
lista = ['a',['d','b'],'z']

In [21]:
lista[1] #Lista[1] hace referencia a la lista anidada

['d', 'b']

In [22]:
lista[1][0] #lista[1] hace referencia a la lista anidada #lista de listas

'd'

In [23]:
lista[1][0:2]

['d', 'b']

Para agregar elementos en una lista, puede usar el metodo <b>append()</b> y para eliminarlos el metodo <b>remove()</b>.
Las listas tambien se pueden agregar directamente, con el mismo efecto de <b>append</b>.<br>El metodo reserve() puedes usar para obtener la lista en orden inverso:

In [16]:
list2

[1, 2, 3, 4, 5]

In [17]:
list1 = ['student','teacher',1997,2000,'teacher']
print (list1)
print ('--------------------------------')
list1.append(3) #Agregado permanente o definitivo
print (list1)
list1.remove('teacher')
print ('--------------------------------')
print (list1 + list2)
print ('--------------------------------')
print (list1 + ['end of list'])
print ('--------------------------------')
list1.reverse() # inversion permanente o definitivo
print(list1)

['student', 'teacher', 1997, 2000, 'teacher']
--------------------------------
['student', 'teacher', 1997, 2000, 'teacher', 3]
--------------------------------
['student', 1997, 2000, 'teacher', 3, 1, 2, 3, 4, 5]
--------------------------------
['student', 1997, 2000, 'teacher', 3, 'end of list']
--------------------------------
[3, 'teacher', 2000, 1997, 'student']

In [20]:
list1.remove('teacher')
print(list1)

ValueError: list.remove(x): x not in list

In [21]:
print(list1)

[3, 2000, 1997, 'student']

In [22]:
# crear una nueva lista a partir de otras 
lista_fin = list1 + ['end of list']
print(lista_fin)

[3, 2000, 1997, 'student', 'end of list']

In [23]:
vocales=['a']
vocales.append('e') #Añade un elemento
vocales

['a', 'e']

In [24]:
vocales.extend(['i','o','u'])#Añade un grupo de elementos
vocales

['a', 'e', 'i', 'o', 'u']

In [25]:
lista_1=[1,2,3]
lista_2=[4,5,6]
nueva_lista=lista_1 + lista_2
nueva_lista

[1, 2, 3, 4, 5, 6]

In [29]:
numeros = [1,2,3]
numeros *=3 # equivalentes a numeros = numeros * 3
numeros

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
type(numeros)

list

In [31]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

Otras funciones utiles son:<br>
<li> len(list): Devuelve el numero de elementos de una lista.
<li> max(list): Devuelve el elemento de la lista con el valor maximo.
<li> min (list): Devuelve el elemento de la lista con valor minimo.

In [35]:
list2 = [1,2,3,4,5]
print (len(list2))
print (max(list2))
print (min(list2))
print (list2[3])

5
5
1
4

insert() permite insertar un nuevo elemento en una lista en una posicion determinada:

In [36]:
print(list2)
print('---------------------------')
print(len(list2))
print('---------------------------')
list2.insert(0,10)
print(list2)
print('---------------------------')
print(len(list2))
print('---------------------------')
list2.insert(1,'uno')
print(list2)
print('---------------------------')
print(len(list2))

[1, 2, 3, 4, 5]
---------------------------
5
---------------------------
[10, 1, 2, 3, 4, 5]
---------------------------
6
---------------------------
[10, 'uno', 1, 2, 3, 4, 5]
---------------------------
7

Nota1: En python 2 la funcion print se declara: print "Hola" <br>
Nota2: En python 3 la funcion print se declara: print("Hola")

<b>for list Python - Recorrer una lista <b>

In [37]:
colores = ['azul', 'blanco','negro']
for color in colores: 
    print(color)

azul
blanco
negro

<b>Ordenar una lista</b>

In [38]:
list3 = [42, 23 , 34, 65, 59] 
list3.sort()
print(list3)

[23, 34, 42, 59, 65]

In [39]:
#Ordenar en orden descendente 
list3.sort(reverse = True)
print(list3)

[65, 59, 42, 34, 23]

In [40]:
type(list3)

list

In [41]:
list3

[65, 59, 42, 34, 23]

In [42]:
#ver la posicion de cierto elemento en una lista
list3.index(34) # en la cuarta posicion

3

<h2>2.Diccionarios</h2>

Las principales operaciones que se suelen realizar con diccionarios son almacenar un valor asociado a una clave y recuperar
un valor a partir de una clave. En un diccionario, el acceso a un elemento a partir de una clave es un operacion realmente ràpida, eficaz y que consume pocos recursos si lo comparamos con como lo hariamos con otros tipos de datos.

In [43]:
#inicializar un diccionario
diccionario = {}   #dict()
type(diccionario)

dict

<b>Formas de crear un diccionario</b>

In [44]:
# 1. Pares clave: valor encerrados entre llaves
d  = {'uno': 1, 'dos': 2, 'tres': 3}

# 2. Argumentos con nombre
d2 = dict(uno=1, dos=2, tres=3)

# 3. Pares clave: valor encerrados entre llaves
d3 = dict({'uno':1, 'dos':2, 'tres': 3})

#4. Iterable que contiene iterables con dos elementos
d4 = dict([('uno',1),('dos',2),('tres',3)])

#5. Diccionario vacio
d5 = {}

#6. Diccionario vacio usando el constructor
d6 = dict()

In [45]:
d

{'uno': 1, 'dos': 2, 'tres': 3}

In [46]:
d2

{'uno': 1, 'dos': 2, 'tres': 3}

In [47]:
d3

{'uno': 1, 'dos': 2, 'tres': 3}

In [48]:
d4

{'uno': 1, 'dos': 2, 'tres': 3}

In [49]:
d4['dos'] #busqueda por indice en un diccionario

2

In [66]:
diccionario_1 = {'llave_1': 'valor_1', 'llave_2':'valor_2','llave_3':'valor_3'}
print(diccionario_1)
print(diccionario_1['llave_3']) #Salida: valor_3

{'llave_1': 'valor_1', 'llave_2': 'valor_2', 'llave_3': 'valor_3'}
valor_3

Mientras que a las listas y tuplas se accede solo y unicamente por un numero de indice, los diccionarios permiten utilizar un 
clave para declarar y acceder a un valor

In [67]:
#borrar un elemento
del(diccionario_1['llave_2'])

In [68]:
print(diccionario_1)

{'llave_1': 'valor_1', 'llave_3': 'valor_3'}

In [69]:
diccionario_1

{'llave_1': 'valor_1', 'llave_3': 'valor_3'}

In [63]:
diccionario_1['llave_3']='nuevo'

In [70]:
a=diccionario_1.popitem()

In [71]:
a

('llave_3', 'valor_3')

In [72]:
print(diccionario_1)

{'llave_1': 'valor_1'}

Asi tambien modificar valores como en las listas

In [73]:
diccionario_1['llave_3']='Nuevo valor'

In [74]:
print(diccionario_1)

{'llave_1': 'valor_1', 'llave_3': 'Nuevo valor'}

Asi tambien modificar valores como en las listas

In [75]:
diccionario_1

{'llave_1': 'valor_1', 'llave_3': 'Nuevo valor'}

In [76]:
diccionario_1['llave_3']='Nuevo valor'

In [77]:
print(diccionario_1)

{'llave_1': 'valor_1', 'llave_3': 'Nuevo valor'}

In [78]:
diccionario_1['llave_3']=15000

In [79]:
print(diccionario_1)

{'llave_1': 'valor_1', 'llave_3': 15000}

Agregar elementos a un diccionario

In [80]:
diccionario_1['llave_4'] = 'Otro valor'
print(diccionario_1)

{'llave_1': 'valor_1', 'llave_3': 15000, 'llave_4': 'Otro valor'}

Otro ejemplo

In [81]:
productos = {}

In [84]:
item = input('Ingrese un producto: ')
costo = input('Ingrese el costo del producto '+item+': ')
productos[item] = float(costo)

In [85]:
productos

{'sal': 23.0, 'sera': 23.0}

In [86]:
productos.keys() #Devuelve una vista de las claves del diccionario

dict_keys(['sal', 'sera'])

In [87]:
productos.values() #Devuelve una lista de los valores del diccionario

dict_values([23.0, 23.0])

In [88]:
productos.items() #Devuelve un vista de pares (clave, valor) del diccionario

dict_items([('sal', 23.0), ('sera', 23.0)])

In [89]:
total = sum(productos.values())
print(total)

46.0

In [90]:
#Convertir el listado de valores en una lista
list(productos.values())

[23.0, 23.0]

<b>for dict Python - Recorrer un diccionario</b>

In [91]:
d = {'uno':1, 'dos':2, 'tres':3}
for e in d: 
    print(e)
# por defecto recorre las claves del diccinario

uno
dos
tres

In [92]:
# Recorrer las claves del diccionario
for k in d.keys():
    print(k)

uno
dos
tres

In [93]:
# Recorrer los valores del diccionario
for v in d.values():
    print(v)

1
2
3

In [94]:
#Recorrer lo pares clave valor
for i in d.items():
    print(i)

('uno', 1)
('dos', 2)
('tres', 3)

In [95]:
personas = {1:{'Edad':25,'Sexo':'M'},2:{'Edad':30,'Sexo':'F'}, 3:{'Edad':22,'Sexo':'M'}}

In [96]:
personas[1]

{'Edad': 25, 'Sexo': 'M'}

In [97]:
personas[2]['Edad']

30

<h2>3.Tuplas</h2>

In [100]:
tupla_1 = ('cadena de texto', 15, 2.8, 'otro dato', 25)

In [101]:
print(tupla_1)
type(tupla_1)

('cadena de texto', 15, 2.8, 'otro dato', 25)

tuple

In [102]:
12,25,35,89

(12, 25, 35, 89)

Las tuplas son inmutables (no se puede modificar una vez creado)

IMPORTANTE: El hecho que determina que una secuencia de elementos sea un tupla es la coma, no los parentesis. Los 
parentesis son opcionales y solo se necesitan para crear un tupla vacia o para evitar ambiguedades.

In [103]:
tupla_1[0]= 'otro valor'

TypeError: 'tuple' object does not support item assignment

In [104]:
print(tupla_1[0]) #no puedo cambiar de valor

cadena de texto

Se puede acceder a cada elemento segun su posicion iniciando siempre en 0

In [105]:
print(tupla_1)
print(tupla_1[1:4])
print(tupla_1[3:])
print(tupla_1[:2])
print(tupla_1[:])

('cadena de texto', 15, 2.8, 'otro dato', 25)
(15, 2.8, 'otro dato')
('otro dato', 25)
('cadena de texto', 15)
('cadena de texto', 15, 2.8, 'otro dato', 25)

Se puede acceder a una porcion de la tupla indicando (opcionalmente) el indice de inicio hasta el de fin

In [106]:
print(tupla_1[-1])
print(tupla_1[-2])

25
otro dato

Se puede acceder a la tupla de forma inversa (de atras hacia adelante), es colocando un indice negativo

<b>tuple unpacking (desempaquetado de una tupla).</b><br><br>
Realmente el unpacking se puede aplicar sobre cualquier objeto de tipo secuencia, aunque se usa mayoritariamente con las<br>tuplas, y consiste en lo siguiente:

In [107]:
bebidas = 'agua', 'cafe', 'batido'
print(bebidas)
a, b, c = bebidas #desempaquetado de tuplas
print(a)
print(b)
print(c)

('agua', 'cafe', 'batido')
agua
cafe
batido

<b> for tuple Python - Recorrer una tupla </b>

In [108]:
colores = ('azul','blanco','negro')
for color in colores:
    print(color)

azul
blanco
negro

<b>Modificar un tupla en Python </b><br>
Como te he indicado, las tuplas son objetos inmutables. No obstante, las tuplas pueden contener objetos u otros elementos <br>
de tipo secuencia, por ejemplo, una lista. Estos objetos, si son mutables, si se pueden modificar:

In [109]:
tupla = (1, ['a','b'],'hola',8.2)
tupla

(1, ['a', 'b'], 'hola', 8.2)

In [110]:
tupla.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [111]:
tupla[1]

['a', 'b']

In [112]:
tupla[1].append('c') # tupla[1] hace referencia a la lista
tupla

(1, ['a', 'b', 'c'], 'hola', 8.2)

<h2>4. Conjuntos</h2><br>
IMPORTANTE:{}NO crea conjunto vacìo, sino un diccionario vacío. Usa set() si quieres crear un conjunto sin elementos.

In [114]:
a = {}
type(a)

dict

In [115]:
b={1,2} #tambien puede crearse utilizando la funcion set()
type(b)

set

In [116]:
c = set()
type(c)

set

In [117]:
letras = {'A','B','C','D','E','A'}
print(letras)
print(type(letras))

{'D', 'E', 'C', 'B', 'A'}
<class 'set'>

Existen dos clases para representar conjuntos:<b>set y frozenset</b>.La principal diferencia es que set es mutable. Por su parte,<br> frozenset es inmutable y su contenido no puede ser modificado una vez que ha sido inicializado.

In [118]:
f = frozenset([3, 5, 6, 1, 5])
f

frozenset({1, 3, 5, 6})

Los conjuntos no aceptan objetos mutables, pòr lo que aceptan tuplas y strings pero no listas <br><br>
NOTA:El único modo en Python de tener un conjunto de conjuntos es utilizando objetos de tipo frozenset como elementos<br> del propio conjunto.

In [119]:
letras = {'A', 'B', 'C', 'D', 'E',{'D','H'}}#no puedo tener conjunto de conjuntos

TypeError: unhashable type: 'set'

In [120]:
letras = {'A', 'B', 'C', 'D', 'E', frozenset(['D','H'])} #no es mutable lo de adentro del conjunto
letras

{'A', 'B', 'C', 'D', 'E', frozenset({'D', 'H'})}

<b>Enumerar elementos de un conjunto:</b> Se puede acceder y/o recorrer todos los elementos de un conjunto usando un bucle for:

In [121]:
mi_conjunto = {1, 3, 2, 9, 3, 1}
for e in mi_conjunto:
    print(e)

1
2
3
9

In [122]:
mi_conjunto

{1, 2, 3, 9}

<b>Eliminar los elementos de un conjunto:</b>La clase set ofrece cuatro métodos para eliminar elementos de un conjunto. Son:<br> 
discard(), remove(), pop() y clear().

In [123]:
mi_conjunto = {1, 3, 2, 9, 3, 1, 6, 4, 5}
mi_conjunto

{1, 2, 3, 4, 5, 6, 9}

In [124]:
#Elimina el elemento 1 con remove()
mi_conjunto.remove(1)
mi_conjunto

{2, 3, 4, 5, 6, 9}

In [125]:
#Elimina el elemento 4 con discard()
mi_conjunto.discard(4)
mi_conjunto

{2, 3, 5, 6, 9}

In [126]:
#Trata de eliminar el elemento 7 (no existe) con remove()
mi_conjunto.remove(7)
mi_conjunto

KeyError: 7

In [127]:
#Trata de eliminar el elemento 7 (no existe) con discard()
#No hace nada
mi_conjunto.discard(7)
mi conjunto

SyntaxError: invalid syntax (3288267218.py, line 4)

pop() es un tanto peculiar. Este metodo devuelve un elemento aleatorio del conjunto y lo elimina del mismo.

In [128]:
mi_conjunto

{2, 3, 5, 6, 9}

In [129]:
mi_conjunto.pop()
mi_conjunto

{3, 5, 6, 9}

In [131]:
letras.pop()
letras

{'A', 'C', 'E', frozenset({'D', 'H'})}

In [132]:
#Elimina todos los elementos del conjunto
mi_conjunto.clear() #funciona tambien para listas y tuplas
mi_conjunto

set()

add() agrega un elemento al conjunto

In [133]:
letras.add('Z')
letras

{'A', 'C', 'E', 'Z', frozenset({'D', 'H'})}

In [134]:
letras.add('O')
letras

{'A', 'C', 'E', 'O', 'Z', frozenset({'D', 'H'})}

In [135]:
len(letras)  #funciona tambien para listas y tuplas

6

<b>Operaciones con conjuntos:</b>

In [137]:
bat = {'M','U','R','C','I','E','L','A','G','O'}
bat

{'A', 'C', 'E', 'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [138]:
letras = {'A','B','C','D','E'}
letras

{'A', 'B', 'C', 'D', 'E'}

In [139]:
bat - letras #diferencia

{'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [140]:
bat.difference(letras)

{'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [141]:
bat & letras #interseccion

{'A', 'C', 'E'}

In [142]:
bat.intersection(letras)

{'A', 'C', 'E'}

In [143]:
bat | letras #union

{'A', 'B', 'C', 'D', 'E', 'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [144]:
bat.union(letras)

{'A', 'B', 'C', 'D', 'E', 'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [145]:
bat ^ letras #diferencia simetrica

{'B', 'D', 'G', 'I', 'L', 'M', 'O', 'R', 'U'}

In [146]:
bat.symmetric_difference(letras)

{'B', 'D', 'G', 'I', 'L', 'M', 'O', 'R', 'U'}

<b>Inclusion e igualdad de conjuntos:</b>

In [147]:
m = {1, 2, 3, 4, 5, 6}
n = {1, 6, 4, 3, 5, 2}
p = {1, 3, 5}
m == n

True

In [148]:
p < m #inclusion de conjuntos

True

In [149]:
m < p

False

In [150]:
m <= n

True

In [151]:
3 in p #pertenencia de elementos en un conjunto

True

In [152]:
9 in p

False

<b>Crear un conjunto o una lista de las letras distintas de una palabra:</b>

In [153]:
s = 'ANATOMIA'
set(s)

{'A', 'I', 'M', 'N', 'O', 'T'}

In [154]:
s = 'ANATOMIA'
list(s)

['A', 'N', 'A', 'T', 'O', 'M', 'I', 'A']

In [155]:
#eliminar repetidos y ordenar el resultado
c = set(s)
print(c)
print("------------------------------")
l = list(c)
print(l)
print("------------------------------")
l.sort()
print(l)
print("------------------------------")
l.sort(reverse = True)
print(l)

{'I', 'O', 'M', 'T', 'A', 'N'}
------------------------------
['I', 'O', 'M', 'T', 'A', 'N']
------------------------------
['A', 'I', 'M', 'N', 'O', 'T']
------------------------------
['T', 'O', 'N', 'M', 'I', 'A']

<b>Ejercicio Resuelto:</b><br><br>Crear un sistema que solicite la opcion y segun el valor ingresado permita:<br><br>
    <li>(1)Agregar la informacion del alumno (nombre, codigo, carrera y edad).</li>
    <li>(2)Eliminar a un alumno al ingresar su codigo..</li>
    <li>(3)Mostrar relacion de alumnos (codigo, nombre y carrera), cantidad de alumnos matriculados, cantidad de carreras<br> distintas y edad promedio.</li>
    <li>(4)Actualizar la informacion del alumno (nombre, carrera y edad). ..</li>
    <li>(5)Salir..</li>

In [6]:
lista_alumnos = {}

In [20]:
#creando un diccionario vacio (se ira agregando los alumnos)

while(1==1):
      
    opcion = int(input('''Ingrese la opcion:
                        1. Ingresar Nuevo alumno
                        2. Eliminar alumno existente
                        3. Mostrar listado de alumnos
                        4. Modificar datos de alumnos
                        5. Salir
                        
                        '''))
    #salimos del while si se ingresa la opcion 5
    if opcion == 5:
        break
    if opcion == 1:
        nombre = input('Ingrese el nombre del alumno: ')
        codigo = input('Ingrese su código: ')
        carrera = input('Ingrese su carrera: ')
        edad = int(input('Ingrese su edad: '))
        
        #agregando la informacion del alumno al diccionario, siendo la llave su codigo
        lista_alumnos[codigo] = [nombre, carrera, edad]
        
    elif opcion==2:
        #solicitamos el código del alumno a eliminar
        codigo_eliminar = input('Ingrese el codigo a elimninar: ')
        lista_alumnos.pop(codigo_eliminar)
    
    elif opcion==3:
        #mostrando la relacion de alumnos:
        print('\n1. Relacion de alumnos:')
        for clave, valor in lista_alumnos.items():
            print(clave, '-', valor)
            
        #contando la cantidad de alumnos en nuestro diccionario:
        print('\n2. Cantidad de alumnos:')
        print(len(lista_alumnos))
        
        #creando un set para almacenar las carreras distintas:
        print('\n3. Cantidad de carreras:')
        carreras_unicas = set()
        
        for clave, valor in lista_alumnos.items():
            carreras_unicas.add(valor[1])
        
        print(len(carreras_unicas))
        print(carreras_unicas)
        
        #recorriendo todas las edades, sumandolas y calculando el promedio
        
        acum = 0
        
        for clave, valor in lista_alumnos.items():
            acum = acum + valor[2]
            
        print('La edad promedio es', acum/len(lista_alumnos))
    elif opcion==4:
        codigo = input('Ingrese el codigo del alumno a actualizar: ')
        nombre = input('Ingrese el nombre actualizado: ')
        carrera= input('Ingrese la carrera actualizada: ')
        edad   = input('Ingrese la edad actualizada: ')
        
        #agregando la informacion del alumno al diccionario, siendo la llave su codigo
        lista_alumnos[codigo] = [nombre, carrera, edad]