# Manejo de datos con Pandas

## Datos ordenados

In [16]:
import pandas as pd
import numpy as np

### 1. Valores como cabeceras de las columnas en lugar de nombres de variables

In [1]:
pwd

'C:\\Users\\Alexander\\Desktop\\Python'

In [21]:
incomes_per_religion = pd.read_csv("Data1/religion_income.csv")
incomes_per_religion.head()

   religion   income  frequency  Unnamed: 3
0  Agnostic    <$10k         27         NaN
1  Agnostic  $10-20k         34         NaN
2  Agnostic  $20-30k         60         NaN
3  Agnostic  $30-40k         81         NaN
4  Agnostic  $40-50k         76         NaN

In [22]:
incomes_per_religion.shape

(180, 4)

In [10]:
del incomes_per_religion['Unnamed: 3']

KeyError: 'Unnamed: 3'

In [11]:
incomes_per_religion.head()

   religion   income  frequency
0  Agnostic    <$10k         27
1  Agnostic  $10-20k         34
2  Agnostic  $20-30k         60
3  Agnostic  $30-40k         81
4  Agnostic  $40-50k         76

Para pasar de una tabla dinámica a una tabla ordenada (tidy), podemos utilizar <b>melt:</b>

In [18]:
incomes_per_religion_tidy = pd.melt(incomes_per_religion,
                                    id_vars=['religion'],
                                    var_name='income',
                                    value_name='frequency')
incomes_per_religion_tidy.set_index('religion',inplace=True)
incomes_per_religion_tidy.sort_index().head(10)

C:\Users\Alexander\AppData\Local\Temp\ipykernel_22904\3514461326.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  incomes_per_religion_tidy = pd.melt(incomes_per_religion,

             income frequency
religion
Agnostic     income     <$10k
Agnostic  frequency        96
Agnostic  frequency        84
Agnostic  frequency       109
Agnostic  frequency       122
Agnostic  frequency       137
Agnostic  frequency        76
Agnostic  frequency        81
Agnostic  frequency        34
Agnostic  frequency        27

### 2. Varias variables se almacenan en un sola columna

In [13]:
pwd

'C:\\Users\\Alexander\\Desktop\\Python'

In [15]:
tb = pd.read_csv("Data1/tb.csv")
tb.shape

(2, 1)

In [23]:
tb.head()

    religion
0     income
1  frequency

In [24]:
tb_melt = pd.melt(tb, id_vars=['iso2','year'])
tb_melt.set_index('iso2',inplace=True)
tb_melt.sort_index()
tb_melt.head()

KeyError: "The following 'id_vars' are not present in the DataFrame: ['iso2', 'year']"

In [ ]:
tb_melt['gender'] = tb_melt.variable.str[0]
tb_melt['age_group'] = tb_melt.variable.str[1:]
tb_melt.head()

In [ ]:
tb_melt.drop(columns='variable',inplace=True)

In [ ]:
# Usando melt para obtener el ranking cada semana
id_vars = ["year","artist.inverted","track","time","genre","date.entered","date.peaked"]

df = pd.melt(frame=billboard,id_vars=id_vars, var_name="week", value_name="rank")
df

In [25]:
# Dando formato a la columna semana
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
df.head()

NameError: name 'df' is not defined

In [ ]:
# Eliminando las filas con valores nulos 
df = df.dropna(how='any')
df.head()

In [ ]:
# Creando un columna "date" para la fecha de cada semana en el ranking
df['date'] = pd.to_datatime(df['date.entered']) + pd.to_timedelta(df['week'], unit='w') - pd.DateOffset(weeks=1)
df.head()

In [ ]:
df[df.track == 'Maria, Maria']

In [ ]:
df[df.track == "Toca's Miracle"]

In [ ]:
# Seleccionando solo las columnas que nos interesan
billboard2 = df[["year", "artist.inverted",. "track", "time", "genre", "week", "rank", "date"]]
billboard2 = billboard2.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])
billboard2.head()

In [ ]:
# Tabla final con el ranking de cada canción por semana
ranks = pd.merge(billboard2, songs, on=["year","artist.inverted","track","time","genre"])
ranks = ranks[["song_id","date","rank"]]

In [ ]:
ranks = ranks[["song_id","date","rank"]]
raks.head(20)

## Data Cleaning

### 1. Valores perdidos

In [ ]:
d_students = pd.read_csv('data/students.csv')

In [ ]:
# Identificar a los valores perdidos.
d_students['REGION'].isnull()

In [ ]:
# Identificar a los valores no perdidos.
d_students['PCT OVERWEIGHT'].notnull()

In [ ]:
# Cuantificar a los valores perdidos.
d_students['PCT OVERWEIGHT'].isnull().value_counts()

In [ ]:
# Cuantificar a los valores no perdidos.
d_students['PCT OVERWEIGHT'].notnull().value_counts()

In [ ]:
# Eliminar a los valores perdidos.
d_students['PCT OVERWEIGHT'].dropna().head(20)

In [ ]:
d_students.head()

In [ ]:
# Eliminar a cualquier registro que tenga por lo menos un campo con valor perdido: how='any'
# Para eliminar filas completas con valores todos los valores vacíos: how='all'
d = d_students.dropna(how='any')

In [ ]:
d.head(15)

In [ ]:
# Cuantificar a los valores perdidos.
d['PCT OVERWEIGHT'].isnull().value_counts()

### 2.Imputar Valores Perdidos

In [ ]:
# Crear un data frame en base a números aleatorios.
df = pd.DataFrame(np.random.randn(5, 3), index=['a0', 'a10','a20','a30','a40'],columns=['X','Y','Z'])
df

In [ ]:
# Crear índices adicionales al data frame.
df2 = df.reindex(['a0','a1','a10','a11','a20','a21','a30','a31','a40','a41'])
df2

In [ ]:
# Completar los valores perdidos con ceros.
df3 = df2.fillna(0)
df3

In [ ]:
# Completar los valores con valores diferentes por variable mediante un diccionario
values = {'X':10, 'Y':20, 'Z':30}
df4 = df2.fillna(values)
df4

In [ ]:
# Completar los valores perdidos con el método "forward propagation". Se va completar con el valor previo nulo
df5 = df2.fillna(method='pad')
df5

In [26]:
# Completar los valores perdidos con el promedio de la variable.
df6 = df2.fillna(df2.mean())
df6

NameError: name 'df2' is not defined

In [ ]:
# Completar los valores perdidos con la mediana de determinados variables.
df7 = df2[['X','Y']].fillna(df2[['X','Y']]).median())
df7